<% var kennel %>
<% if (breeder.get('kennel')) { %>
    <% kennel = breeder.get('kennel').charAt(0).toUpperCase() + breeder.get('kennel').substring(1).toLowerCase() %>
<% } %>
<% var city =  breeder.get('addresses')['city'].charAt(0).toUpperCase() + breeder.get('addresses')['city'].substring(1).toLowerCase() %>
<% var state =  breeder.get('addresses')['province'] %>
<% var review = breeder.get('reviews') %>
<% var sum = 0 %>

<section class="breederPage">
    <div class="row">
        <div class="large-12 columns breederHeader">
            <a id="areYou">ARE YOU <%=breeder.get('name') %></a>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns breederHeader">
            <h2><%=breeder.get('name') %></h2>
        </div>
    </div>
    <div class="row">
        <div class="large-3 columns">
            <% if (breeder.history) { %>
                <a href="#<%=breeder.history %>" class="small round button secondary" id="prev">Back To Search Results</a>
            <% } %>
            <% if (!breeder.history) { %>
                <a href="#" class="small round button secondary" id="prev">New Search</a>
            <% } %>
        </div>
        <div class="large-6 columns breederHeader">
            <% if (review.length > 1) { %>
                <% for (var i=0; i < review.length; i++){ %>
                    <% sum += Number(review[i]['rating']) %>
                <% } %>
                <% var avgRating = (sum / review.length).toFixed(1) %>
                <h4 class="avgRatingHeader">
                    <% for (var j=0; j < avgRating; j++) { %>
                        &#9733; &nbsp;
                    <% } %>
                    from <%=review.length %> reviews
                </h4>
            <% } %>
            <% if (review.length < 1) { %>
                <h4 class="avgRatingHeader">there are no reviews for this breeder yet.</h4>
            <% } %>
        </div>
        <div class="large-3 columns breederHeader">
            <a href="#<%=Backbone.history.getFragment() %>/review" class="small round button" id="addReview">Add Review</a>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns breederHeader">        
            <% if (kennel) { %>
                <h4>Kennel: <%=kennel %></h4>
            <% } %>
            <h4>Location: <%=city %>, <%=state %></h4>
        </div>
    </div>


<% if (breeder.get('litters').length > 0) { %>
    <section class="litters">
       <div class="row">
            <div class="large-6 large-offset-3 columns end litterTable"> 
<ul class="accordion" data-accordion>
  <li class="accordion-navigation">
    <a href="#panel1a">View Recent Litters </a>
    <div id="panel1a" class="content">
        
                <table>
                    <tr>
                        <th width="200">Breed</th>
                        <th>Birth Date</th>
                        <th>Male Pups</th>
                        <th>Female Pups</th>
                    </tr>
                    <% for (var i=0; i < breeder.get('litters').length; i++) { %>
                        <tr>
                            <td><%=breeder.get('litters')[i]['breedName'] %></td>
                            <% if (breeder.get('litters')[i]['birthDate'] !== "Coming Soon!") { %>
                                <td><%=breeder.get('litters')[i]['birthDate'] %></td>
                                <td class="count"><%=breeder.get('litters')[i]['malePupCount'] %></td>
                                <td class="count"><%=breeder.get('litters')[i]['femalePupCount'] %></td>
                            <% } %>
                            <% if (breeder.get('litters')[i]['birthDate'] === "Coming Soon!") { %>
                                <td colspan="3"><%=breeder.get('litters')[i]['birthDate'] %></td>
                            <% } %>
                        </tr>
                    <% } %>
                </table>
            </div>
    </div>
  </li>
</ul>


            
        
        </section>
<% } %>

<% if (breeder.get('reviews').length > 0) { %>
    <section class="reviews">
        
                <div class="row">
                <div class="large-10 large-offset-1 columns end">
            <table>
                <caption>Breeder Reviews</caption>
                <tr>
                    <th width="160">Rating</th>
                    <th width="200">Dog Information</th>
                    <th>Comment</th>
                </tr>
                <% for (var i=0; i < breeder.get('reviews').length; i++) { %>
                    <tr>
                        <td id="rankingTd">
                            <% var ranking = "" %>
                            <%=breeder.get('reviews')[i]['reviewDate'].substring(0, breeder.get('reviews')[i]['reviewDate'].indexOf("T")) %>
                            <br>
                            <br>
                            <% for (var j=0; j < breeder.get('reviews')[i]['rating']; j++) { %>
                                    &#9733;
                            <% } %>
                        </td>
                        <% var birthdate = breeder.get('reviews')[i]['birthDate'] %>
                        <% var dam = breeder.get('reviews')[i]['dam'] %>
                        <% var sire = breeder.get('reviews')[i]['sire'] %>
                        <% var name = breeder.get('reviews')[i]['dogName'] %>
                        <% var breed = breeder.get('reviews')[i]['breedName'] %>
                        <% var image = breeder.get('reviews')[i]['images'] %>
                        <td>
                            <% if (name) { %>
                                Dog's Name: <%=name %>
                                <br>
                            <% } %>
                            <% if (breed) { %>
                                Breed:<%=breed %>
                                <br>
                            <% } %>
                            <% if (dam) { %>
                                Dam: <%=dam %>
                                <br>
                            <% } %>
                            <% if (sire) { %>
                                Sire: <%=sire %>
                                <br>
                            <% } %>
                            <% if (birthdate) { %>
                                Birthdate: <%=birthdate %>
                                <br>
                            <% } %>
                        </td>
                        <td>
                            <%=breeder.get('reviews')[i]['content'] %>
                        
                    
                        <% if (image) { %>
                            <br>
                            <ul class="clearing-thumbs" data-clearing>
                            <!--<ul class="clearing-thumbs" data-clearing>-->
                                <% for (var k = 0; k< image.length; k++){ %>
                                    <li><a class="th" href=" <%=image[k] %> "><img src=" <%=image[k] %>" ></a></li>
                                    <!--<img src=' <%=image[k] %> '>-->
                                    <% } %>
                            </ul>
                        <% } %>
                        </td>
                    </tr>
                    
                <% } %>
            </table>
        <% } %>
    </div>
</div>
</section>
</section>
