<div class="row">
    <div class="large-3 columns">
        <br>
        <% if (breeder.history) { %>
        <a href="#<%=breeder.history %>" class="small round button" id="prev">Back To Search Results</a>
        <% } %>
        <br>
    </div>
    <div class="large-6 columns">
    <table>
        <caption>Breeder Information<br></caption>
        <br>
      <tbody>
        <tr>
            <th>Name</th>
            <% if (breeder.get('kennel')) { %>
                <th>Kennel</th>
            <% } %>
            <th>Address</th>
        </tr>
        <tr>
            <td><%=breeder.get('name') %></td>
        <!--</tr>-->
        <!--<tr>-->
            <% if (breeder.get('kennel')) { %>
                <td><%=breeder.get('kennel') %></td>
            <% } %>
        <!--</tr>-->
        <!--<tr>-->
            
            <td><%=breeder.get('addresses')['city'] %>,  <%=breeder.get('addresses')['province'] %> <%=breeder.get('addresses')['country'] %></td>
        </tr>
      </tbody>
   </table>
   </div>
   <div class="large-3 columns">
       <br>
    <a href="#" class="small round button" id="prev">New Search</a>   
   </div>
</div>
<% if (breeder.get('litters').length > 0) { %>
   <div>
      <table>
         <tbody>
            <caption>Litters<br></caption>
            <br>
            <tr>
               <th>Breed</th>
               <th>Birth Date</th>
               <th>Male Pups</th>
               <th>Female Pups</th>
            </tr>
            <% for (var i = 0; i < breeder.get('litters').length; i++) { %> 
               <tr>
                  <td><%=breeder.get('litters')[i]['breedName'] %> </td>
                    <!--<th>Birth Date</th>-->
                 <!--</tr>-->
                  <% if (breeder.get('litters')[i]['birthDate']!== "Coming Soon!") { %>
                     <td><%=breeder.get('litters')[i]['birthDate'] %> </td>
                 <!--<tr>-->
                     <!--<th>Number of Male Puppies</th>-->
                     <td class="count"><%=breeder.get('litters')[i]['malePupCount'] %> </td>  
                 <!--</tr>-->
                 <!--<tr>-->
                     <!--<th>Number of Female Puppies</th>-->
                     <td class="count"><%=breeder.get('litters')[i]['femalePupCount'] %> </td>  
                  <% } %>
                  <% if (breeder.get('litters')[i]['birthDate'] === "Coming Soon!") { %>
                     <td colspan="3"><%=breeder.get('litters')[i]['birthDate'] %> </td>
                  <% } %>
               </tr>
            <% } %>
            </tbody>
         </table>
   </div>
<% } %>
<row>
    <div class="large-12 columns">
        <br>
        <a href="#<%=Backbone.history.getFragment() %>/review" class="small round button" id="addReview">Add Review</a>
    </div>
</row>
