<div class="row">
    <div class="large-3 columns">
        <br>
        <% if (breeder.history) { %>
            <a href="# <%=breeder.history %>" class="small round button" id="prev">Back To Search Results</a>
        <% } %>
        <br>
    </div>
    <div class="large-6 columns">
        <table>
            <caption>Breeder Information <br> </caption> <br>
            <tr>
                <th>Name</th>
                <th>
                    <% if (breeder.get('kennel')) { %>
                        Kennel
                    <% } %>
                </th>
                    <th>Address</th>
            </tr>
            <tr>
                <td><%=breeder.get('name') %></td>
                <td>
                    <% if (breeder.get('kennel')) { %>
                        <%=breeder.get('kennel') %>
                    <% } %>
                </td>
                <td><%=breeder.get('addresses')['city'] %>, <%=breeder.get('addresses')['province'] %>
                    <% breeder.get('addresses')['country'] %>
                </td>
            </tr>
            <% var review = breeder.get('reviews') %>
            <% if (review.length > 1) { %>
                <% var sum = 0 %>
                <tr>
                    <th> Average Rating:</th>
                    <% for (var i=0; i < review.length; i++){ %>
                       <% sum += Number(review[i]['rating']) %>
                    <% } %>
                    <% var avgRating = Math.round(sum/review.length) %>
                    <td colspan="2">
                        <% for (var j=0; j < avgRating; j++) { %>
                            &#9733; &nbsp;
                        <% } %>
                    </td>
                </tr>
            <% } %>
            <% if (review.length < 1) { %>
                <td colspan="3"> 
                </td>
            <% } %>
        </table>
    </div>
    <div class="large-3 columns">
        <br>
        <a href="#" class="small round button" id="prev">New Search</a>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <br>
        <a href="#<%=Backbone.history.getFragment() %>/review" class="small round button" id="addReview">Add Review</a>
        <br>
    </div>
</div>
<div class="row">
    <div class="large-4 large-offset-1 columns">
        <% if (breeder.get('litters').length > 0) { %>
            <table>
                <caption>Recent Litters
                    <br>
                </caption>
                <br>
                <tr>
                    <th>Breed</th>
                    <th>Birth Date</th>
                    <th>Male Pups</th>
                    <th>Female Pups</th>
                </tr>
                <% for (var i=0; i < breeder.get('litters').length; i++) { %>
                    <tr>
                        <td><%=breeder.get('litters')[i]['breedName'] %></td>
                        <% if (breeder.get('litters')[i]['birthDate'] !== "Coming Soon!") { %>
                            <td><%=breeder.get('litters')[i]['birthDate'] %></td>
                            <td class="count"><%=breeder.get('litters')[i]['malePupCount'] %></td>
                            <td class="count"><%=breeder.get('litters')[i]['femalePupCount'] %></td>
                        <% } %>
                        <% if (breeder.get('litters')[i]['birthDate'] === "Coming Soon!") { %>
                            <td colspan="3"><%=breeder.get('litters')[i]['birthDate'] %></td>
                        <% } %>
                    </tr>
                <% } %>
            </table>
        <% } %>
    </div>
    <div class="large-7 columns">
        <br>
        <% if (breeder.get('reviews').length > 0) { %>
            <table>
                <caption>Breeder Reviews</caption>
                <% for (var i=0; i < breeder.get('reviews').length; i++) { %>
                    <tr>
                        <td>
                            <table id="reviewTable">
                                <tr>
                                    <th class="ratingHeader">Rating: </th>
                                    <td colspan="2">
                                        <% for (var j=0; j < breeder.get('reviews')[i]['rating']; j++) { %>
                                            &#9733; &nbsp;
                                        <% } %>
                                    </td>
                                    <th class="dateHeader" colspan="2">Date of Review:</th>
                                    <td colspan="1">
                                        <%=breeder.get('reviews')[i]['reviewDate'].substring(0, breeder.get('reviews')[i]['reviewDate'].indexOf("T")) %>
                                    </td>
                                </tr>
                                <% if (breeder.get('reviews')[i]['content']) { %>
                                    <tr>
                                        <th class="ratingHeader">Comments: </th>
                                        <td colspan="5">
                                            <%=breeder.get('reviews')[i]['content'] %>
                                        </td>
                                    </tr>
                                <% } %>
                                <% var birthdate = breeder.get('reviews')[i]['birthDate'] %>
                                <% var dam = breeder.get('reviews')[i]['dam'] %>
                                <% var sire = breeder.get('reviews')[i]['sire'] %>
                                <% var name = breeder.get('reviews')[i]['dogName'] %>
                                <% var breed = breeder.get('reviews')[i]['breedName'] %>
                                
                                <% if (birthdate || dam || sire || name || breed) { %>
                                    <tr>
                                        <th class="centerHead" colspan="6">Information About The Reviewer's Dog</th>
                                    </tr>
                                    <% if (name || breed) { %>
                                        <tr>
                                            <% if (name) { %>
                                                <th colspan="2">Dog's Name: </th>
                                                <td colspan="2"><%=name %></td>
                                            <% } %>
                                            <% if (!name) { %>
                                                <td colspan="4"></td>
                                            <% } %>
                                            <% if (breed) { %>
                                                <th>Breed: </th>
                                                <td colspan="1"><%=breed %></td>
                                            <% } %>
                                            <% if (!breed) { %>
                                                <td colspan="2"></td>
                                            <% } %>
                                        </tr>
                                    <% } %>
                                    <tr>
                                        <% if (birthdate) { %>
                                            <th>Birthdate: </th>
                                            <td><%=birthdate %></td>
                                        <% } %>
                                        <% if (!birthdate) { %>
                                            <th></th>
                                            <td></td>
                                        <% } %>
                                        <% if (dam) { %>
                                            <th>Dam: </th>
                                            <td><%=dam %></td>
                                        <% } %>
                                        <% if (!dam) { %>
                                            <th></th>
                                            <td></td>
                                        <% } %>
                                        <% if (sire) { %>
                                            <th>Sire: </th>
                                            <td><%=sire %></td>
                                        <% } %>
                                        <% if (!sire) { %>
                                            <th></th>
                                            <td></td>
                                        <% } %>
                                    </tr>
                                <% } %>
                            </table>
                        </td>
                    </tr>
                <% } %>
            </table>
        <% } %>
    </div>
</div>
